<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="Img/Icon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&display=swap" rel="stylesheet">
        
        {% block link %} STYLE LINK {% endblock %}
        <title> {% block title %} HTML TITLE {% endblock %} </title>
    </head>

    <body>
        <header class="header">
            <a href="{{ url_for('home') }}" class="logo">
                <img src="{{ url_for('static', filename='img/Icon.png') }}" alt="ExtSearch" />
            </a>
            
            <nav>
                <a href="{{ url_for('about') }}">About</a>
                <a href="https://github.com/chasekosborne/ExtSearch" target="_blank" rel="noopener noreferrer">GitHub</a>
            </nav>

            <a href="{{ url_for('solution') }}" class="top-right-btn">
                <button class="top-right-btn">My Solutions </button>
            </a>

        </header>

        {% block content %} HTML BODY {%endblock%}
        {% block script %} {%endblock%}
    </body>
</html>