{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
{% endblock %}


{% block title %} extSearch {% endblock %}



{% block content %}

<main class="page">
    <h1>extSearch</h1>
    <p style="font-size: 16px; color: #71717a; margin-bottom: 16px; font-weight: 500; margin-top: 0;">Extremal Search</p>
    <p class="subtitle">
    Finding optimal solutions to hard problems.<br>
    Explore solutions through play.
    </p>
    <div class="cta-container">
    <a href="fit" class="cta">
        <img src="{{ url_for('static', filename='img/fit-icon.svg') }}" alt="Fit" style="width: 20px; height: 20px; display: block;" />
        Play Fit
        <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
        </svg>
    </a>
    <a href="fit-api.html" class="cta">
        <img src="{{ url_for('static', filename='img/API.svg') }}" alt="API" style="width: 20px; height: 20px; display: block;" />
        Download Fit API
        <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
        </svg>
    </a>
    </div>
    <p style="margin-top: 24px;">
    <a href="{{ url_for('what_is_fit') }}" style="color: #71717a; font-size: 14px; text-decoration: underline;">what is Fit?</a>
    </p>
</main>


{%endblock %}