{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
{% endblock %}

{% block content %}
<div class="login-page">
    <div class="login-container">
        <h2 style="text-align:center; display: block; margin-top: 16px;" >Login</h2>
        <hr style="margin: 16px 0; border: none; border-top: 1px solid #e5e7eb;">
        
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST" class="login-form">
            <label for="username">Username</label>
            <input type="text" name="username" required>

            <label for="password">Password</label>
            <input type="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        
        <hr style="margin: 16px 0; border: none; border-top: 1px solid #e5e7eb;">
        <div>
            <a href="{{ url_for('guest') }}" class="top-right-btn" style="color: blue; text-align:center; display: block; margin-top: 16px;">
                Continue as Guest
            </a> 
        </div>
    </div>    
</div>


{% endblock %}
